body{
  margin: 0;
  background: #4e4e4e;
}
.LogIn.activeForm{
  display: flex;
}
.LogIn {
  position: fixed!important;
  width: 100%!important;
  height: 100%;
  z-index: 100000;
  background: rgba(47,54,57,.8);
  transition: 1s;
  display: none;
  justify-content: center;
  padding-top: 50px;
}
.closePopUp {
  height: 16px;
  padding-top: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
}
.closePopUp img {
  float: right;
}
.closePopUpImg {
  cursor: pointer;
}
.ChangeForm{
  margin-top: 16px;
  width: 100%;
  display: block;
  cursor: pointer;
}
.LogIn .LogInForm{
  width: 288px!important;
  max-height: 500px;
  padding-bottom: 24px;

  position: fixed;
  background: #fff;
  border: 1px solid #d5d7d7;
  box-shadow: 0 4px 12px rgb(68 75 77 / 10%);
  border-radius: 6px;
  text-align: center;
}
.LogInForm .form{
  display: grid;
  text-align: left;
  padding: 10px 20px;
  width: auto;
  margin-top: 20px;
}
.LogInForm .form input{
  margin-bottom: 20px;
  border-radius: 6px;
  margin-top: 10px;
  height: 25px;
}
.LogInForm input[type="button"]:active {
  background: #4e4e4e;
}
.LogInForm input[type="button"]{
  width: 130px;
  height: 30px;
  border-radius: 6px;
  cursor: pointer;
  background: #1f1f1f;
  color: #e4dcdc;
}
span.FormTitle{
  font-size: 24px;
  text-align: center;
  color: #2f3639;
  margin-bottom: 24px;
}
.Header{
  height: 100px;
  background-color: #1f1f1f;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.Header .end{
  position: absolute;
  right: 20px;
  padding: 0 24px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  border: 2px solid #02fdbf;
  background-color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #2f3639;
  cursor: pointer;
  top: 25px;
  text-decoration: none;
}
.Header .end img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.Header .title{
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 45px;
  text-shadow: 0 0 6px rgba(255,255,255,0.7);
}
.Header .title span{
  color: #fff;
  font-family: "Graphik Kinopoisk LC Web",Arial,Tahoma,Verdana,sans-serif;

}
.Games {
  display: flex;
  justify-content: center;
}
.Games div {
  width: 200px;
  text-align: center;
  margin: 30px auto;
  cursor: pointer;
}
.Games img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.Games span{
  color: #fff;
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}
.content .card{
  width: 30%;
  background-color: #1f1f1f;
  margin-top: 50px;
  margin-left: 45px;
  box-shadow: 0 20px 50px rgb(0 0 0 / 50%);
  cursor: pointer;
  position: relative;
}
.CardTitle {
  color: #fff;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
}
.CardFooter{
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
}
.CardContent{
  text-align: center;
}
.CardContent img{
  width: 95%;
  height: 230px;
  object-fit: cover;
}
.banner img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.Movie {
  text-align: center;
  width: 70%;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}
@media (max-width: 1360px){
  .content .card {
    width: 45%;
  }
}
@media (max-width: 898px){
  .Games div{
    display: grid;
  }
  .Games img{
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .Games span{
    font-size: 20px;
  }
  .Header{
    height: 38px;
  }
  .Header .end img{
    height: inherit;
    margin: 0;
  }
  .Header .title{
    font-size: 25px;
  }
  .banner img{
    height: auto;
  }
  .content .card:nth-child(1){
    margin-top: 0;
  }
  .content .card{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .Movie {
    width: 90%;
    height: 200px;
  }
  .Header .end{
    top: 6px;
    height: auto;
    right: 10px;
  }
  .Header .end span{
    display: none;
  }
}
